/* Error: Undefined variable.
 *    ,
 * 26 |         box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;
 *    |                              ^^^^^^^^^^^^
 *    '
 *   scss\scroll-down-up.scss 26:30  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 26 \2502          box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;\d\a    \2502                               ^^^^^^^^^^^^\a    \2575 \a   scss\\scroll-down-up.scss 26:30  root stylesheet";
}
