      //------------------------------------------------------------------------------------Contact-Me----------------------------------------------------------------------------------------------------------------------

      .contact{
        margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;

      }
      .contact-box{
        background-color: lighten($color-primary, 10%);
        border-radius: 8px;
      }
      .top-head{
        background-color: $color-green;
        color: $color-primary;
        border-radius: 15px 15px 0 0 ;
        display: flex;
        flex-direction: row;
        opacity: 70%;
        padding: 20px 20px;
      }
      .ch2{
       align-self: center;
       font-size: 26px;
       display: flex;


      }

    //   .contact-info{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 100%;
    //   }
      .contact-btn{

        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        padding:0 10px;

        & a{
            cursor: pointer;
            padding: 00px 20px;
            &:hover{
                color: lighten($color-primary, 20%);
                scale: 1.2;
            }
        & i{
            font-size: 3rem;
            }
        }
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px 40px 20px;
    }
.my-message{
    display: flex;
    justify-content: right;
    float: right;
    color: $color-primary;
    width: 80%;
    text-align: center;
    margin: 10px;
    & i{
        float:right;
        font-size: 3rem;
        margin: 10px;
        color: grey;
        width: auto;
    }
}

.contact-input{
    gap:20px;
}

.form-input{
    gap: 20px;
    display: flex;
    flex-direction: column;

}
    .contact-input input, textarea{
            padding: 15px 20px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    outline: 1px solid #dcdcdc;
    background-color:transparent;
    font-size: 1rem;
    background-color: $color-secondary;
    width: 80%;
    float:left;
    font-family: inherit;
        }
input, textarea{
&:hover{
        box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;
    }
}

    .submit{
        opacity: 70%;
        width: auto;        
        border-radius: 20px;
        margin:20px;
        background-color: $color-primary;
        color: $color-secondary;
        border: none;
        padding: 20px;
        line-height: 2;
        text-transform: uppercase;
        box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0.973);
                &:hover{
            background-color: $color-green;
            box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;
                }
    }

.bottom-head{
    background-color: $color-green;
    width: 100%;
    height: 70px;
    border-radius: 0 0 15px 15px ;
    display: flex;
    flex-direction: row;
    opacity: 70%;
  }

    // .back-top{
    //     display: flex;
    //     justify-content: center;
    //     }