
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik-Regular'), local('Rubik-Medium'), url("../Rubik\static\Rubik-Regular.ttf") format('woff');
  }
// ------------------------------------------------------------------Importing ----------------------------------------------------------

@import "colors";
@import "media";
@import "background";
@import "side-btn";
@import "side-bar";
@import "scroll-down-up";
@import "welcome-text";
@import "aboutMe";
@import "portfolio";
@import "contactMe";
@import "icomoon";

//--------------------------------------------------------------------------------------------------------MAIN-------------------------------------------------------------------------------------------------------------------
*{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    margin-right:0;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    text-decoration: none;

    & a {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
        width:auto;
    }
}
  *::before,
    *::after {
    box-sizing: border-box;
  }
  html,
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    align-items: center;
    display:grid;
    letter-spacing: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: $color-primary;
}
.hidden{
    display: none;
}

//------------------------------------------------------------------------------------------------h1-h6
h2{
    justify-content: center;
    display: flex;
}

h4{
    font-weight:900;
    font-size: 300%;
    color: $color-grey;
    text-shadow: 0 0 10px $color-secondary,0 0 40px $color-secondary,0 0 80px $color-secondary;
}
    //-----------------------------------------------------------------------------Footer----------------------------------------------------------------------------------------------------------------------
footer{
    position: relative;
    margin: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    border: none;

    & .background{
    display:flex;
    z-index: 7;
    width: 100%;
    overflow-x: hidden;
    }
    .f-text{
        display: flex;
        padding:50px 50px;
        z-index: 7;
        top: 0px;
        position: absolute;
        color: $color-secondary;
        text-align: center;
    }
}
