
@font-face {
    font-family: 'Rubik';
    src: url('../Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
//--------------------------------------------------------------------Mixings------------------------------------------------------
@mixin portBtn {
    background-color: $color-primary;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    opacity: 70%;
    border-radius: 20px;
    justify-content: center;
    padding: 20px 10px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 10%;
    box-shadow: 6px 6px 6px 0px rgb(16, 14, 14);
}

// ------------------------------------------------------------------Importing ----------------------------------------------------------

@import "colors";
@import "media";
@import "background";
@import "icomoon";
@import "side-btn";
@import "side-bar";
@import "scroll-down-up";
@import "welcome-text";
@import "aboutMe";
@import "portfolio";
@import "code";
@import "contactMe";

//--------------------------------------------------------------------------------------------------------MAIN-------------------------------------------------------------------------------------------------------------------
*{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    margin-right:0;
    list-style: none;
    font-family: "RubikLocal",'Rubik', sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
    text-decoration: none;
//    overflow-y: hidden;

    #select-ul-country::-webkit-scrollbar {
        display: none;
    }
    & a {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
        width:auto;
    }
}
  *::before,
    *::after {
    box-sizing: border-box;
  }
  html,
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    align-items: center;
    display:grid;
    letter-spacing: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: $color-primary;
    padding: 50px 20px;
}
.hidden{
    display: none;
}

//------------------------------------------------------------------------------------------------h1-h6
h2{
    justify-content: center;
    display: flex;
}

h4{
    font-weight:900;
    font-size: 300%;
    // color: $color-grey;
    text-shadow: 0 0 10px $color-secondary,0 0 40px $color-secondary,0 0 80px $color-secondary;
}
    //-----------------------------------------------------------------------------Footer----------------------------------------------------------------------------------------------------------------------
footer{
    position: relative;
    margin: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    border: none;

    & .background{
    display:flex;
    z-index: 7;
    width: 100%;
    overflow-x: hidden;
    }
    .f-text{
        display: flex;
        padding:50px 50px;
        z-index: 7;
        top: 0px;
        position: absolute;
        color: $color-secondary;
        text-align: center;
    }
}
