//-----------------------------------------------------------------------------------------------Side bar-----------------------------------------------------------------------------------------------------------------------
header{
    display: none;
    height: 100vh;
    width: 50%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    max-width: 340px;
}

.side-menu{
width: 100%;
height: 100vh;   
flex-direction: column;
max-width: 340px;
// justify-content: space-between;
overflow: hidden;
text-align: center;
border-radius: 0 50px 50px 0;
box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0.45);
}

.user-img{
    height:25%;
    display: flex;
    justify-content: space-around;
    padding:20px 0 ;
    align-items: center;
}

.image-wrap{
    width: 130px;
    height: 130px;
    max-width: 100%;
    border-radius: 50%;
    background-color: $color-primary;
    align-items: center;
    color: $color-secondary;
    display: flex;
    justify-content: space-around;
    box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0.45);
    &:hover{
        box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;
    }
}

.user-connect{
    height:25%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:10px 0 ;
    & a{
        width: 110px;
        height: 110px;
        justify-content:center;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-secondary;
    box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0.45);
    &:hover{
        box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;
            }
        & i{
            height: 100% !important;
            padding: 10px 10px !important;
            width: 100% !important;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            font-size: 50px;
            left: 2px;
            position: relative;
            }
        }
    }
    .hover{
        display: none;
    }
    .coding:hover{
        background-color: $color-grey;
        .hover{
            display: inline;
        }
        .origin{
            display: none;
        }
    }


.sidebar-main{
height: 50%;
    display: flex;
    background-color: $color-primary;
    box-shadow: 0 0 10px $color-green ,0 0 0 0,0 0 80px $color-green, 0 0 0 0;
}
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 14px;
    & li{
        display: flex;
        font-size: 20px;
        line-height: 2.5;
        flex-direction: column;
        align-self: stretch;
    }
& a{
    color: #818181;
    display: block;
    }
}
.nav:hover{
    color:$color-green;
    box-shadow: 0 0 10px $color-green,0 0 40px $color-green,0 0 80px $color-green;
}